html, body {
    font-family: 'Raleway', sans-serif;
}
h3{
    font-weight:900;
}
.about-text img{
    width: 100px;
    height: 100px;
}

.about-text .social-icon i {
    font-size:50px;
}
.about-text .social-icon:first-of-type {
    float:left;
}
.about-text .social-icon:last-of-type {
    float:right;
}
.projects_grid .project_description{
    margin:2em;
    margin-top:0.5em;
}
.projects_grid .project_description h5{
    font-weight:900;
}
.projects_grid img{
    
}
nav .skew:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: visible;
  width: 100%;
  height: 250px;
  background: #00bcd4;
  z-index: -1;
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;
}
nav, footer{
    font-weight:600;
    background-color: #2e3141;//#1C2833;
    color:#F4F6F6;
}
nav a, nav a:link, nav a:visited, nav a:hover, nav a:active{
    color:#F4F6F6;
}
footer a, footer a:link, footer a:visited, footer a:hover, footer a:active{
    color:#F4F6F6;
}
footer a:hover, footer a:active, nav a:hover, nav a:active{
    color:#778899;
    text-decoration:None;
}
.navbar-brand{
    color:#F4F6F6;
}
span.navbar-toggler-icon i{
    color:#F4F6F6;
    font-size:30px;
}
.content{
    padding: 15px;
}
/* --------------------------------------------------
 * Footer
-------------------------------------------------- */
footer .social-icon i, footer .social-icon span{
    font-size:20px;
}

footer .social-icon span{
    margin-right:10px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  overflow: hidden;
}
