body {
    font-family: 'Quicksand', sans-serif;
}
nav, footer{
    background-color: #1C2833;
    color:#F4F6F6;
}
nav a, nav a:link, nav a:visited, nav a:hover, nav a:active{
    color:#F4F6F6;
}
.navbar-brand{
    color:#F4F6F6;
}
span.navbar-toggler-icon i{
    color:#F4F6F6;
    font-size:30px;
}
//Footer
